/* This style sheet is modified from https://www.w3schools.com/howto/howto_js_tabs.asp> and other tutorials as indicated. */

body {
  font-family: "Arial";
}

/* Styling for grocery store name */
#header {
  font-family: "Helvetica";
  text-align: center;
  font-size: 30px;
  font-stretch: expanded;
}
span {
  color: #80b380
}

/* container for the user's restrictions */
#filters {
  padding: 10px 100px 100px 100px;
}

/* styling for the instuctions on the client section */
#disclaimer {
  font-style: italic;
  color: grey;
  font-size: 12px;
}

#label {
  color: #80b380;
  font-size: 14px;
}

/* styling for the user-prefered text size*/
#adjustTextSize {
   position: fixed;
   bottom: 1;
   padding-left: 50px;
   padding-top: 10px;
   font-size: 16px;
}

#small {
  font-size: 10px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

#medium {
  font-size: 14px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

#large {
  font-size: 16px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #80b380;
  border: none;
  outline: none;
}

/* [ref] Right-aligned section inside the top navigation adapted from w3schools.com/howto/howto_css_topnav_right.asp */
.tab-right {
  float: right;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  color: white;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 16px 18px;
  transition: 0.3s;
  width: 120px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #568f56;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #568f56;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 50px 50px 50px 50px;
}

#Client, #Products, #Cart {
  height: 450px;
}

.block{
  padding: 8px;
  border: border: 1px;

  cursor: pointer;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #80b380;
   color: white;
   text-align: center;
   font-size: 16px;
}
